@import url('https://fonts.cdnfonts.com/css/iceberg');
@import url('https://fonts.cdnfonts.com/css/Nunito');
@import url('http://fonts.cdnfonts.com/css/nunito-sans');

.error {
  color: red !important;
}

.success {
  color: green !important;
}

.container {
  padding: 0 5rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  width:80%;
  margin: 0 auto;
}

.small-container {
  max-width: 700px;
  margin: 0 auto;
}

.container p {
  text-align: left;
  margin-bottom: 15px;
}

.container * {
  text-align: left;
}

.container h5 {
  margin-top:10px;
  margin-bottom: 0;
}

.small-dropdowns {
  font-size:small !important;
}

.main {
  padding: 1rem 0;
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.body {
  font-family: 'Nunito Sans', sans-serif;
}

/* HEADER */

.header {
  display: grid;
  padding: 0 8rem;
  grid-template-columns: 1fr 280px;
}

.header h1 {
  font-size: x-large;
  margin: 15px 0;
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  /* color: #011DB4; */
  color: #4183C4;
}

.header .navbar a {
  font-family: 'Nunito Sans', sans-serif;
}

.header .navbar {
  margin: 15px 0;
}

/* HOMEPAGE (index.tsx) */

.showcase {
  margin: 20px 0 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 300px;
}

.maindescr {
  margin-right: 10xp;
  padding-top: 50px;
  width: 50%;
  font-size: 35px;
}

.mainimage {
  margin-left: 25px;
  display: flex;
}

.mainimage img {
  height: auto;
  width: 100%;
  margin: auto;
}

.maindescr h3 {
  font-size: 35px;
}

#first-parag {
  padding-top: 25px;
  margin-bottom: 35px;
  font-size: 1.2rem;
  line-height: 2.1rem;
  word-spacing: 2px;
  /* font-style: italic; */
  border-top: black 1px solid;
}

.main h4 {
  font-size: 1.1rem;
  margin: 25px 0 0 0;
}

.main p {
  word-spacing: 1px;
  letter-spacing: 0.5px;
  margin-top: 0.6em;
}

.main a {
  color: #4183C4;
}

@media (max-width: 900px) {

  .showcase {
    margin: 20px 0 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 300px;
  }
  
  .maindescr {
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    font-size: 25px;
  }
  
  .maindescr h3 {
    font-size: 25px;
    text-align: center;
  }
  
  .mainimage {
    margin: 0;
  }

}

/* INFLATION DASHBOARD */

.inflation * {
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

.inflation p {
  margin-bottom: 0;
}

.inflation h2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

/* .container h3 {
  font-size: 1.6rem !important;
} */

.inflation h3 {
  font-size: 1.2rem !important;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

/* NOT AN ELEGANT AND RIGHT WAY TO DO IT, BUT WORKS FOR NOW */
.inflation h3 div {
  font-family: 'Nunito Sans', sans-serif;
}

.MuiSelect-select {
  font-size: 1.4rem !important;
  padding-bottom: 0  !important;
  margin-right: 5px;
}

.recalculateButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  margin:10px !important;
}

/* SUBMISSION PAGE */

.submission h3 {
  font-size: 1.6rem;
}

.inputs input {
  margin: 5px;
}

.header-image {
  display:inline-block;
  margin: 5px;
  margin-top: 7px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.faq-section h2 {
  text-align: center;
}

div.faq-cell {
  border-bottom: black 1px solid;
  /* padding: 10px 0; */
}

div.faq-cell:last-child {
  border-bottom: none;
}

.title,
.description {
  text-align: center;
}

div.description {
  text-align: left;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  /* font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace; */
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.code {
  font: inherit;
  text-align: left;
  justify-content: start;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
